$themeBgColor : #f2f2f2;
$heightLightColor : #ff814f;
$deepGray : #333;
$middleGray : #666;
$lightGray : #999;
$segmentationBorderColor : #eaeaea;
$pagePadding : 15px;
$baseBorderRadius:10px;
$segmentationBorder:1px solid $segmentationBorderColor;
$longBtnFontSize : 1.143rem;
$bankListPadding:15px;
$listPaddingVertical : 15px;
$inputSignUpPaddingVertical:15px;
$inputSignUpPaddingHorizental:10px;
$operatorTip:1.071rem;
$formListPadding:15px;
$getAddressFailtipHeight:44px;
$getAddressFailtipFontSize : 1.071rem;
$addressFontSize:1.071rem;
$addressContainerHeight:18px;
$uploadIamgeHeight:50px;